*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  height: 100%;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.slider-item{
  width: 100px;
  height: 100px;
  margin-right: 16px;
}
.img-slider{
  list-style: none;
  display: flex;
}
.main-imgbox{
  width: 450px;
  height: 450px;
  position: relative;
}
.content{
  margin-top: 30px;
}

.img-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-size: 46px;
  color: #1d1d1d;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 20px;
}
.sub-title{
  line-height: 1.5;
  font-weight: 700;
  margin: 0p 0 10px;
}
.first-row{
  display: flex;
  margin-bottom: 25px;
  flex-wrap: wrap;
}
.btnn{
  cursor: pointer;
  border: none;
  width: 150px;
  padding: 14px 0;
  border: 1px solid #888;
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  margin-right: 10px;
  background-color: transparent;
}
.btn-color{
  width: 240px;
  margin-bottom: 20px;
  padding: 6px 0;
}

.btn-color span{
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-bottom: 6px;
}
.gold{
  background-color: #d29d00;
}
.silver{
  background-color: silver;
}
.space-grey{
  background-color: grey;
}
.quantity{
  margin-top: -20px;
  display: flex;
}
.quantity-btn{
  height: 40px;
  width: 50px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: transparent;
}
.quantity-input{
  width: 90px;
  height: 40px;
  border: 1px solid #ccc;
padding: 0 30px;
margin-bottom: 10px;
}
.price{
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
}
.btn-full{
  position: absolute;
  bottom: 0;
  right: -60px;
  cursor: pointer;
  padding: 20px;
  background-color: transparent;
  border: none;
}
.btn-full .bx{
  font-size: 30px;
  color: grey;
}
.main-slider{
  display: flex;
  width: 450px;
  height: 450px;
  overflow-x: hidden;
}
.modal-img{
  width: 600px;
  height: 600px;
}
.modal-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 400px){
.slider-item{
  width: 50px;
  height: 50px;
}
.main-slider{
  width: 300px;
  height: 300px;
}
.main-imgbox{
  width: 300px;
  height: 300px;
}
}
.active-btn{
  border-color: #08c;
  box-shadow: 0 0 1px 1px #08c;
}
